In [1]:
import pandas as pd

df = pd.read_csv('diverse_dataset_doub.csv')
print(df)

         ID     Prénom  Age         Ville
0  ID000001      Alice   24         Paris
1  ID000002        Bob   22   Los Angeles
2  ID000003      Angel   22   Los Angeles
3  ID000004      David   29         Dubai
4  ID000001      Alice   24         Paris
5  ID000006  Fatimatou   27         Dakar
6  ID000007       Fang   30       Beijing
7  ID000008     Hassan   30         Cairo
8  ID000009     Ingrid   25  Johannesburg
9  ID000010      Angel   22   Los Angeles

In [2]:
doublons = df.duplicated()
print(doublons)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [7]:
homonymes_doub = df.duplicated(subset=['Prénom', 'Age', 'Ville'])
print(homonymes_doub)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [8]:
homonymes_doub = df.duplicated(subset=['Prénom', 'Age', 'Ville']).sum()
print(homonymes_doub)

2

In [12]:
homonymes_doub = df.duplicated(subset=['Prénom', 'Age', 'Ville'], keep=False)
df_homonymes_doub = df[homonymes_doub]
print("Lignes avec des doublons:")
print(df_homonymes_doub)

Lignes avec des doublons:
         ID Prénom  Age        Ville
0  ID000001  Alice   24        Paris
2  ID000003  Angel   22  Los Angeles
4  ID000001  Alice   24        Paris
9  ID000010  Angel   22  Los Angeles