In [2]:
import pandas as pd

df_val_doub = pd.read_csv('val_doub.csv')

print("DataFrame avec des doublons:")
print(df_val_doub)

DataFrame avec des doublons:
          ID     Prénom  Age         Ville
0   ID000001      Alice   24         Paris
1   ID000002        Bob   23   Los Angeles
2   ID000003    Charlie   22      New York
3   ID000004      David   29         Dubai
4   ID000005    Saoirse   28        Berlin
5   ID000006  Fatimatou   27         Dakar
6   ID000007       Fang   30       Beijing
7   ID000008     Hassan   31         Tokyo
8   ID000009     Ingrid   25        Sydney
9   ID000010   Blessing   26  Johannesburg
10  ID000001      Alice   24         Paris
11  ID000002        Bob   23   Los Angeles
12  ID000003    Charlie   22      New York
13  ID000005    Saoirse   28        Berlin
14  ID000011        Bob   23   Los Angeles

In [3]:
doublons = df_val_doub[df_val_doub.duplicated()]

doublons_sauf_id = df_val_doub[df_val_doub.duplicated(subset=['Prénom', 'Age', 'Ville'])]

print("\nDoublons en considérant toutes les colonnes:")
print(doublons)

print("\nDoublons en ne considérant pas la colonne ID:")
print(doublons_sauf_id)

Doublons en considérant toutes les colonnes:
          ID   Prénom  Age        Ville
10  ID000001    Alice   24        Paris
11  ID000002      Bob   23  Los Angeles
12  ID000003  Charlie   22     New York
13  ID000005  Saoirse   28       Berlin

Doublons en ne considérant pas la colonne ID:
          ID   Prénom  Age        Ville
10  ID000001    Alice   24        Paris
11  ID000002      Bob   23  Los Angeles
12  ID000003  Charlie   22     New York
13  ID000005  Saoirse   28       Berlin
14  ID000011      Bob   23  Los Angeles

In [5]:
df_sans_doub = df_val_doub.drop_duplicates()
print(df_sans_doub)

          ID     Prénom  Age         Ville
0   ID000001      Alice   24         Paris
1   ID000002        Bob   23   Los Angeles
2   ID000003    Charlie   22      New York
3   ID000004      David   29         Dubai
4   ID000005    Saoirse   28        Berlin
5   ID000006  Fatimatou   27         Dakar
6   ID000007       Fang   30       Beijing
7   ID000008     Hassan   31         Tokyo
8   ID000009     Ingrid   25        Sydney
9   ID000010   Blessing   26  Johannesburg
14  ID000011        Bob   23   Los Angeles

In [6]:
df_sans_doub_excl_id = df_val_doub.drop_duplicates(subset=['Prénom', 'Age', 'Ville'])
print("\nDataFrame sans doublons (en ne considérant pas la colonne ID):")
print(df_sans_doub_excl_id)

DataFrame sans doublons (en ne considérant pas la colonne ID):
         ID     Prénom  Age         Ville
0  ID000001      Alice   24         Paris
1  ID000002        Bob   23   Los Angeles
2  ID000003    Charlie   22      New York
3  ID000004      David   29         Dubai
4  ID000005    Saoirse   28        Berlin
5  ID000006  Fatimatou   27         Dakar
6  ID000007       Fang   30       Beijing
7  ID000008     Hassan   31         Tokyo
8  ID000009     Ingrid   25        Sydney
9  ID000010   Blessing   26  Johannesburg