In [5]:
import pandas as pd

df_erreurs = pd.read_csv('dataset_erreurs_aberrantes.csv')

print("DataFrame avec des erreurs et des valeurs aberrantes:")
print(df_erreurs)

DataFrame avec des erreurs et des valeurs aberrantes:
         ID     Prénom  Age         Ville
0  ID000001      Alice   24         Paris
1  ID000002        Bob   23   Los Angeles
2  ID000003    Charlie  120      New York
3  ID000004      David   29         Dubai
4  ID000005    Saoirse   28        Pariss
5  ID000006  Fatimatou  300         Dakar
6  ID000007       Fang   30       Beijing
7  ID000008     Hassan   31         Cairo
8  ID000009     Ingrid   25        Sydney
9  ID000010   Blessing   26  Johannesburg

In [6]:
Q1 = df_erreurs['Age'].quantile(0.25)
Q3 = df_erreurs['Age'].quantile(0.75)
IQR = Q3 - Q1
borne_inf = Q1 - 1.5 * IQR
borne_sup = Q3 + 1.5 * IQR

val_age_ab = df_erreurs[(df_erreurs['Age'] < borne_inf) | (df_erreurs['Age'] > borne_sup)]
print("\nValeurs aberrantes dans la colonne Age:")
print(val_age_ab)

Valeurs aberrantes dans la colonne Age:
         ID     Prénom  Age     Ville
2  ID000003    Charlie  120  New York
5  ID000006  Fatimatou  300     Dakar

In [7]:
import numpy as np

median_age = df_erreurs['Age'].median()
df_erreurs['Age'] = np.where((df_erreurs['Age'] < borne_inf) | (df_erreurs['Age'] > borne_sup), median_age, df_erreurs['Age'])

print("\nDataFrame après correction des valeurs aberrantes dans la colonne Age:")
print(df_erreurs)

DataFrame après correction des valeurs aberrantes dans la colonne Age:
         ID     Prénom   Age         Ville
0  ID000001      Alice  24.0         Paris
1  ID000002        Bob  23.0   Los Angeles
2  ID000003    Charlie  28.5      New York
3  ID000004      David  29.0         Dubai
4  ID000005    Saoirse  28.0        Pariss
5  ID000006  Fatimatou  28.5         Dakar
6  ID000007       Fang  30.0       Beijing
7  ID000008     Hassan  31.0         Cairo
8  ID000009     Ingrid  25.0        Sydney
9  ID000010   Blessing  26.0  Johannesburg

In [9]:
villes_correctes = ['Paris', 'Los Angeles', 'New York', 'Dubai', 'Berlin', 'Dakar', 'Beijing', 'Cairo', 'Sydney', 'Johannesburg']

typos = df_erreurs[~df_erreurs['Ville'].isin(villes_correctes)]
print("\nErreurs typographiques dans la colonne Ville:")
print(typos)

Erreurs typographiques dans la colonne Ville:
         ID   Prénom   Age   Ville
4  ID000005  Saoirse  28.0  Pariss

In [11]:

df_erreurs['Ville'] = df_erreurs['Ville'].replace('Pariss', 'Paris')

print("\nDataFrame après correction des erreurs typographiques dans la colonne Ville:")
print(df_erreurs)

df_erreurs.to_csv('val_sans_erreurs.csv', index=False)

DataFrame après correction des erreurs typographiques dans la colonne Ville:
         ID     Prénom   Age         Ville
0  ID000001      Alice  24.0         Paris
1  ID000002        Bob  23.0   Los Angeles
2  ID000003    Charlie  28.5      New York
3  ID000004      David  29.0         Dubai
4  ID000005    Saoirse  28.0         Paris
5  ID000006  Fatimatou  28.5         Dakar
6  ID000007       Fang  30.0       Beijing
7  ID000008     Hassan  31.0         Cairo
8  ID000009     Ingrid  25.0        Sydney
9  ID000010   Blessing  26.0  Johannesburg