In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('val_manquantes.csv')
print("Données:")
print(df)

Données:
         ID     Prénom   Age         Ville
0  ID000001      Alice  24.0         Paris
1  ID000002        Bob   NaN   Los Angeles
2  ID000003    Charlie  22.0           NaN
3  ID000004      David  29.0         Dubai
4  ID000005    Saoirse   NaN        Dublin
5  ID000006  Fatimatou  27.0         Dakar
6  ID000007       Fang  30.0       Beijing
7  ID000008     Hassan   NaN         Cairo
8  ID000009     Ingrid  25.0           NaN
9  ID000010   Blessing  26.0  Johannesburg

In [5]:
df_locf = df.copy()
df_locf['Age'] = df_locf['Age'].fillna(method='ffill')
df_locf['Ville'] = df_locf['Ville'].fillna(method='ffill')
print("\nImputation avec la dernière observation reportée (LOCF):")
print(df_locf)

Imputation avec la dernière observation reportée (LOCF):
         ID     Prénom   Age         Ville
0  ID000001      Alice  24.0         Paris
1  ID000002        Bob  24.0   Los Angeles
2  ID000003    Charlie  22.0   Los Angeles
3  ID000004      David  29.0         Dubai
4  ID000005    Saoirse  29.0        Dublin
5  ID000006  Fatimatou  27.0         Dakar
6  ID000007       Fang  30.0       Beijing
7  ID000008     Hassan  30.0         Cairo
8  ID000009     Ingrid  25.0         Cairo
9  ID000010   Blessing  26.0  Johannesburg

In [6]:
df_mean = df.copy()
df_mean['Age'] = df_mean['Age'].fillna(df_mean['Age'].mean())
print("\nImputation avec la moyenne:")
print(df_mean)

Imputation avec la moyenne:
         ID     Prénom        Age         Ville
0  ID000001      Alice  24.000000         Paris
1  ID000002        Bob  26.142857   Los Angeles
2  ID000003    Charlie  22.000000           NaN
3  ID000004      David  29.000000         Dubai
4  ID000005    Saoirse  26.142857        Dublin
5  ID000006  Fatimatou  27.000000         Dakar
6  ID000007       Fang  30.000000       Beijing
7  ID000008     Hassan  26.142857         Cairo
8  ID000009     Ingrid  25.000000           NaN
9  ID000010   Blessing  26.000000  Johannesburg

In [7]:
df_median = df.copy()
df_median['Age'] = df_median['Age'].fillna(df_median['Age'].median())
print("\nImputation avec la médiane:")
print(df_median)

Imputation avec la médiane:
         ID     Prénom   Age         Ville
0  ID000001      Alice  24.0         Paris
1  ID000002        Bob  26.0   Los Angeles
2  ID000003    Charlie  22.0           NaN
3  ID000004      David  29.0         Dubai
4  ID000005    Saoirse  26.0        Dublin
5  ID000006  Fatimatou  27.0         Dakar
6  ID000007       Fang  30.0       Beijing
7  ID000008     Hassan  26.0         Cairo
8  ID000009     Ingrid  25.0           NaN
9  ID000010   Blessing  26.0  Johannesburg

In [10]:
df_specifique = df.copy()
df_specifique['Ville'] = df_specifique['Ville'].fillna('Inconnue')
print("\nImputation avec une valeur spécifique pour 'City':")
print(df_specifique)

Imputation avec une valeur spécifique pour 'City':
         ID     Prénom   Age         Ville
0  ID000001      Alice  24.0         Paris
1  ID000002        Bob   NaN   Los Angeles
2  ID000003    Charlie  22.0      Inconnue
3  ID000004      David  29.0         Dubai
4  ID000005    Saoirse   NaN        Dublin
5  ID000006  Fatimatou  27.0         Dakar
6  ID000007       Fang  30.0       Beijing
7  ID000008     Hassan   NaN         Cairo
8  ID000009     Ingrid  25.0      Inconnue
9  ID000010   Blessing  26.0  Johannesburg