In [5]:
import pandas as pd

df = pd.read_csv('data_challenge.csv')

print("DataFrame avec les données pour le défi:")
print(df)

DataFrame avec les données pour le défi:
                                              RawData
0   Alice, 24, Berlin, 1234567890123Bob, , Los Ang...
1                             David, 29, Dubai, 12345
2                    Saoirse, , Dublin, 0987654321123
3                 Fatimatou, 27, Dakar, 5678901234567
4                       Fang, , Beijing, 098765432123
5                    Hassan, 28, Cairo, 2233445566778
6                    Ingrid, 25, Tokyo, 3344556677889
7           Blessing, 26, Johannesburg, 4455667788990
8                  Pierre, 30, Berllin, 5566778899001
9                         Jean, , Berl, 6677889900123
10                    Marie, 31, Berln, 7788990011234