In [3]:
import pandas as pd

df = pd.read_csv('data_brutes.csv')

print("DataFrame avec des données brutes:")
print(df_brutes)

DataFrame avec des données brutes:
                      RawData
0            Alice, 24, Paris
1        Bob, 35, Los Angeles
2       Charlie, 22, New York
3            David, 29, Dubai
4         Saoirse, 33, Dublin
5        Fatimatou, 27, Dakar
6           Fang, 30, Beijing
7           Hassan, 28, Cairo
8           Ingrid, 25, Tokyo
9  Blessing, 26, Johannesburg

In [4]:
import re

def extract_prenom(raw_data):
    pattern = r'(\w+),'  
    match = re.match(pattern, raw_data)
    if match:
        return match.group(1)
    else:
        return None

df['Prénom'] = df['RawData'].apply(extract_prenom)
print(df)

                      RawData     Prénom
0            Alice, 24, Paris      Alice
1        Bob, 35, Los Angeles        Bob
2       Charlie, 22, New York    Charlie
3            David, 29, Dubai      David
4         Saoirse, 33, Dublin    Saoirse
5        Fatimatou, 27, Dakar  Fatimatou
6           Fang, 30, Beijing       Fang
7           Hassan, 28, Cairo     Hassan
8           Ingrid, 25, Tokyo     Ingrid
9  Blessing, 26, Johannesburg   Blessing

In [5]:
def extract_age(raw_data):
    pattern = r'\w+, (\d+),'  
    match = re.match(pattern, raw_data)
    if match:
        return match.group(1)
    else:
        return None

df['Age'] = df['RawData'].apply(extract_age)
print(df)

                      RawData     Prénom Age
0            Alice, 24, Paris      Alice  24
1        Bob, 35, Los Angeles        Bob  35
2       Charlie, 22, New York    Charlie  22
3            David, 29, Dubai      David  29
4         Saoirse, 33, Dublin    Saoirse  33
5        Fatimatou, 27, Dakar  Fatimatou  27
6           Fang, 30, Beijing       Fang  30
7           Hassan, 28, Cairo     Hassan  28
8           Ingrid, 25, Tokyo     Ingrid  25
9  Blessing, 26, Johannesburg   Blessing  26

In [6]:
def extract_ville(raw_data):
    pattern = r'\w+, \d+, (.+)'  
    match = re.match(pattern, raw_data)
    if match:
        return match.group(1)
    else:
        return None

df['Ville'] = df['RawData'].apply(extract_ville)
print(df)

                      RawData     Prénom Age         Ville
0            Alice, 24, Paris      Alice  24         Paris
1        Bob, 35, Los Angeles        Bob  35   Los Angeles
2       Charlie, 22, New York    Charlie  22      New York
3            David, 29, Dubai      David  29         Dubai
4         Saoirse, 33, Dublin    Saoirse  33        Dublin
5        Fatimatou, 27, Dakar  Fatimatou  27         Dakar
6           Fang, 30, Beijing       Fang  30       Beijing
7           Hassan, 28, Cairo     Hassan  28         Cairo
8           Ingrid, 25, Tokyo     Ingrid  25         Tokyo
9  Blessing, 26, Johannesburg   Blessing  26  Johannesburg

In [7]:
df = df.drop('RawData', axis=1)
print(df)

      Prénom Age         Ville
0      Alice  24         Paris
1        Bob  35   Los Angeles
2    Charlie  22      New York
3      David  29         Dubai
4    Saoirse  33        Dublin
5  Fatimatou  27         Dakar
6       Fang  30       Beijing
7     Hassan  28         Cairo
8     Ingrid  25         Tokyo
9   Blessing  26  Johannesburg