In [76]:
import pandas as pd

df_notes = pd.read_csv('notes.csv')

print("DataFrame avec liste des étudiants:")
print(df_notes)

DataFrame avec liste des étudiants:
  Prénom étudiant Filière  Note
0          ALice       F1  14.5
1           AHMED      F2  15,1
2       CHARLotte      F3  15.2
3           DAVID       F  15.5
4           Alice      F1  14,5
5            Fang       F    13

In [77]:
import re

def remplace_virgules_avec_points(df, colonne):

    df[colonne] = df[colonne].astype(str).str.replace(',', '.').astype(float)
    return df

In [78]:
df_notes = remplace_virgules_avec_points(df_notes, 'Note')
print(df_notes)

  Prénom étudiant Filière  Note
0          ALice       F1  14.5
1           AHMED      F2  15.1
2       CHARLotte      F3  15.2
3           DAVID       F  15.5
4           Alice      F1  14.5
5            Fang       F  13.0

In [79]:
def nettoyage_texte(df, colonnes):

    for colonne in colonnes:
        df[colonne] = df[colonne].str.strip().str.title()
    return df

In [80]:
df_notes = nettoyage_texte(df_notes, ['Prénom étudiant'])
print(df_notes)

  Prénom étudiant Filière  Note
0           Alice      F1  14.5
1           Ahmed      F2  15.1
2       Charlotte      F3  15.2
3           David       F  15.5
4           Alice      F1  14.5
5            Fang       F  13.0

In [81]:
def corr_texte(df, colonne, val_1, val_2):
    df[colonne] = df[colonne].apply(lambda x: val_1 if x == val_2 else x)
    return df

In [82]:
df_notes = corr_texte(df_notes, 'Filière', "F1","F")
print(df_notes)

  Prénom étudiant Filière  Note
0           Alice      F1  14.5
1           Ahmed      F2  15.1
2       Charlotte      F3  15.2
3           David      F1  15.5
4           Alice      F1  14.5
5            Fang      F1  13.0