In [1]:
import pandas as pd
import re

def remplace_virgules_avec_points(df, colonne):

    df[colonne] = df[colonne].astype(str).str.replace(',', '.').astype(float)
    return df

In [2]:
def nettoyage_texte(df, colonnes):

    for colonne in colonnes:
        df[colonne] = df[colonne].str.strip().str.title()
    return df

In [3]:
def corr_texte(df, colonne, val_1, val_2):
    df[colonne] = df[colonne].apply(lambda x: val_1 if x == val_2 else x)
    return df

In [22]:
from sklearn.pipeline import Pipeline, FunctionTransformer

remplace_virgules_transformer = FunctionTransformer(remplace_virgules_avec_points, kw_args={'colonne': 'Note'})
nettoyage_texte_transformer = FunctionTransformer(nettoyage_texte, kw_args={'colonnes': ['Prénom étudiant']})
corr_texte_transformer = FunctionTransformer(corr_texte, kw_args={'colonne': 'Filière','val_1':'F1', 'val_2':'F'})

pipeline = Pipeline(steps=[
    ('remplace_virgules', remplace_virgules_transformer),
    ('nettoyage_texte', nettoyage_texte_transformer),
    ('corr_texte', corr_texte_transformer)
])

In [23]:
df_notes = pd.read_csv('notes.csv')

print("DataFrame avec liste des étudiants:")
print(df_notes)

DataFrame avec liste des étudiants:
  Prénom étudiant Filière  Note
0          ALice       F1  14.5
1           AHMED      F2  15,1
2       CHARLotte      F3  15.2
3           DAVID       F  15.5
4           Alice      F1  14,5
5            Fang       F    13

In [24]:
df_net = pipeline.fit_transform(df_notes)
print(df_net)

  Prénom étudiant Filière  Note
0           Alice      F1  14.5
1           Ahmed      F2  15.1
2       Charlotte      F3  15.2
3           David      F1  15.5
4           Alice      F1  14.5
5            Fang      F1  13.0